<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>5383038467-u45bjrueegrpjlkp9pqr66tcf9vkjhsj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.5383038467-u45bjrueegrpjlkp9pqr66tcf9vkjhsj</string>
	<key>API_KEY</key>
	<string>AIzaSyDO63AGleCUYdxMZkCx06gnEZYTGxFljO4</string>
	<key>GCM_SENDER_ID</key>
	<string>5383038467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sevvalmertoglu.SnapchatClone</string>
	<key>PROJECT_ID</key>
	<string>snapchatclone-2d32b</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchatclone-2d32b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:5383038467:ios:d42da846274b16bd92d036</string>
</dict>
</plist>